body {    
    margin: 0 !important;
    padding: 0 !important;
    font-family: arial;
}

.container{
    position: absolute;
    right: 0px;
    width: 80%;
    background-color: gray;
    height: auto;
    text-align: center;
}
.sidebar {
    position: fixed;
    left: 0px;
    width: 20%;
    background-color: black;
    height: 100%;
}
.ss-active-child {
    background-color: white;
}